/* Define vars for the root element */
:root{
  --mainBlue:#2a2a72;
  --lightBlue:#009ffd;
  --mainWhite:#f3f3f3;
  --mainDark:#232528;
  --mainYellow:#ffa400;
}

body {
  font-family: 'Oswald' , sans-serif !important;
  background: var(--mainWhite) !important;
  color: var(--mainDark) !important;
  letter-spacing: 0.3em !important;
}

.text-title {
  font-family: 'Permanent Marker', cursive;
  /* Defines the spacing between the characters of a block of text.*/
  letter-spacing: 0.3rem;
  /* The CSS text-transform property is the key to managing text uppercase and lowercase rendering. */
  text-transform: uppercase;
}

.text-blue {
  color: var(--mainBlue);
}

.text-bright {
  color: var(--lightBlue);
}
